<footer class="site-footer">

  <div class="site-footer-logo">
    <img
      class="site-footer-logo-img"
      src="/assets/images/uacf_logo.png"
      alt="Under Armour Connected Fitness"
    />
  </div>

  <nav class="site-footer-nav">
    <a href="https://account.underarmour.com/api-terms-and-conditions">Terms</a>
    <a href="https://account.underarmour.com/privacy">Privacy</a>
    <a href="https://developer.underarmour.com/faq">Support</a>
    <a href="http://status.underarmour.com/">Status</a>
    <a href="mailto:Partner-Support@underarmour.com">Licensing</a>
  </nav>

</footer>

<script src="/assets/js/main.js"></script>
