<div class="sidenav">

  <h3>Architecture</h3>
  <a href="{{ site.github.url }}/docs-mpf/about">About this API</a>
  <a href="{{ site.github.url }}/docs-mpf/domains">Domains</a>
  <a href="{{ site.github.url }}/docs-mpf/versioning">Versioning</a>
  <a href="{{ site.github.url }}/docs-mpf/example-urls">Example URLs</a>
  <h3>General</h3>
  <a href="{{ site.github.url }}/docs-mpf/identifiers">Identifiers</a>
  <a href="{{ site.github.url }}/docs-mpf/supported-data-formats">Supported Data Formats</a>
  <a href="{{ site.github.url }}/docs-mpf/data-types">Data Types</a>  
  <h5>Requests</h5>
    <a href="{{ site.github.url }}/docs-mpf/access-tokens">Access Token and Related Information</a>
    <a href="{{ site.github.url }}/docs-mpf/localization">Localization</a>
    <a href="{{ site.github.url }}/docs-mpf/get-request-query-param">GET Request Query Parameter</a>
    <a href="{{ site.github.url }}/docs-mpf/collection-requests">Collection Requests</a>
    <a href="{{ site.github.url }}/docs-mpf/post-patch-request">POST/PATCH Request Body</a>
  <h5>Responses</h5>
    <a href="{{ site.github.url }}/docs-mpf/content-type">Content Type</a>
    <a href="{{ site.github.url }}/docs-mpf/response-codes">Response Codes</a>
    <a href="{{ site.github.url }}/docs-mpf/response-body">Response Body</a>
    <a href="{{ site.github.url }}/docs-mpf/error-responses">Error Responses</a>
    <a href="{{ site.github.url }}/docs-mpf/standard-responses">Standard Responses</a>
  <h3>Authentication and Authorization</h3>  
    <a href="{{ site.github.url }}/docs-mpf/partner-authentication">Partner Authentication</a>
    <a href="{{ site.github.url }}/docs-mpf/user-authentication">User Authorization</a>
    <h5>Authorization Code Grant (GET /oauth2/auth)</h5>
      <a href="{{ site.github.url }}/docs-mpf/request-query-parameters">Request query parameters</a>
      <a href="{{ site.github.url }}/docs-mpf/auth-example-1">Example 1: Requesting the diary scope</a>
      <a href="{{ site.github.url }}/docs-mpf/auth-example-2">Example 2: Requesting all available scopes</a>
      <a href="{{ site.github.url }}/docs-mpf/auth-response">Response</a>
      <a href="{{ site.github.url }}/docs-mpf/auth-errors">Authorization Errors</a>
    <h5>Access Token Request (POST /oauth2/token)</h5>
      <a href="{{ site.github.url }}/docs-mpf/request-body-form-parameters">Request body form parameters</a>
      <a href="{{ site.github.url }}/docs-mpf/post-response">Response</a>
      <a href="{{ site.github.url }}/docs-mpf/access-token-errors">Access Token Errors</a>
    <h5>Refreshing Access Tokens (POST /oauth2/token)</h5>
      <a href="{{ site.github.url }}/docs-mpf/refresh-request-body-form-parameters">Request body form parameters</a>
      <a href="{{ site.github.url }}/docs-mpf/refresh-post-response">Response</a>
      <a href="{{ site.github.url }}/docs-mpf/refresh-token-errors">Refresh Token Errors</a>
    <a href="{{ site.github.url }}/docs-mpf/making-requests">Making Requests</a>    
    <h5>Revoking Tokens (POST /oauth2/revoke)</h5>
      <a href="{{ site.github.url }}/docs-mpf/revoke-request-body-form-parameters">Request body form parameters</a>
      <a href="{{ site.github.url }}/docs-mpf/revoke-response">Response</a>
  <h3>Users</h3>  
    <h5>Resources GET /users/:userId</h5>
      <a href="{{ site.github.url }}/docs-mpf/example-response-no-fields-parameter">Example Response with no fields parameter</a>
      <a href="{{ site.github.url }}/docs-mpf/example-response-with-fields-parameter">Example Response with fields elements</a>
    <h5>Resources PATCH /users/:userId</h5>
      <a href="{{ site.github.url }}/docs-mpf/patch-request-example">Request Example</a>
  <h3>Measurements</h3>
    <h5>Resources</h5>
      <a href="{{ site.github.url }}/docs-mpf/measurements-get">GET /measurements/</a>
      <a href="{{ site.github.url }}/docs-mpf/measurements-post">POST /measurements/</a>
  
  <h3>Diary</h3>    
    <h5>Resources</h5>
      <a href="{{ site.github.url }}/docs-mpf/diary-get">GET /diary/</a>
      <a href="{{ site.github.url }}/docs-mpf/diary-post">POST /diary/</a>
      <a href="{{ site.github.url }}/docs-mpf/diary-patch">PATCH /diary/</a>
      <a href="{{ site.github.url }}/docs-mpf/diary-delete">DELETE /diary/</a>
  <h3>Exercises</h3>    
    <h5>Resources</h5>
      <a href="{{ site.github.url }}/docs-mpf/exercises-diary-get">GET /exercises/</a>
  <h3>Subscriptions</h3>    
    <h5>Management</h5>
      <a href="{{ site.github.url }}/docs-mpf/subscription-post">POST /subscription/</a>
      <a href="{{ site.github.url }}/docs-mpf/subscription-get">GET /subscription/</a>      
      <a href="{{ site.github.url }}/docs-mpf/subscription-patch">PATCH /subscription/</a>
      <a href="{{ site.github.url }}/docs-mpf/subscription-delete">DELETE /subscription/</a>
    <h5>Notifications</h5>
      <a href="{{ site.github.url }}/docs-mpf/subscription-request-body">Example Request Body</a>
      <a href="{{ site.github.url }}/docs-mpf/subscription-design">Best Design Practices</a>
  <h3>Appendix</h3>    
    <h5>Data Structures</h5>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-user">User</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-measured-value">Measured Value</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-user-profile">User Profile</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-account">Account</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-privacy-preferences">Privacy Preferences</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-goal-preferences">Goal Preferences</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-location-preferences">Location Preferences</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-diary-preferences">Diary Preferences</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-nutritional-contents">Nutritional Contents</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-exercise">Exercise</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-measurement">Measurement</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-diary">Diary</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-data-structures-subscription">Subscription</a>
    <h5>Error Codes</h5>
      <a href="{{ site.github.url }}/docs-mpf/appendix-error-codes">Error Codes</a>
    <h5>Migrating from MyFitnessPal API v1 to v2</h5>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-log_cardio_exercise">v1 action: log_cardio_exercise</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-remove_cardio_exercise">v1 action: remove_cardio_exercise</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-log_weight">v1 action: log_weight</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-log_expended_energy">v1 action: log_expended_energy</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-get_food_summary">v1 action: get_food_summary</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-get_cardio_exercises">v1 action: get_cardio_exercises</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-get_weight">v1 action: get_weight</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-fetch_user_info">v1 action: fetch_user_info</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-subscribe_to_user_updates">v1 action: subscribe_to_user_updates</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-migrate-unsubscribe_from_user_updates">v1 action: unsubscribe_from_user_updates</a>
    <h5>Tracking all­day steps activity</h5>
      <a href="{{ site.github.url }}/docs-mpf/appendix-tracking-all-day-steps">Tracking all-day steps activity</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-tracking-recommended-approach">Recommended approach for tracking steps</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-tracking-determining-daily-totals">Determining daily totals</a>
      <a href="{{ site.github.url }}/docs-mpf/appendix-tracking-calorie-adjustments">Calorie Adjustments</a>
    <h5>MyFitnessPal exercises and their identifiers</h5>
      <a href="{{ site.github.url }}/docs-mpf/appendix-mfp-exercises-identifiers">MyFitnessPal exercises and their identifiers</a>
    <h5>Full request and response examples</h5>
      <a href="{{ site.github.url }}/docs-mpf/appendix-full-request-examples">POST and GET request and response</a>
</div>
