<div class="sidenav">

  <h3>Getting Started</h3>
  <a href="{{ site.github.url }}/sdk">Download SDK</a>
  <a href="{{ site.github.url }}/member/register">Request a Key</a>
  <a href="{{ site.github.url }}/faq">FAQ</a>
  <a href="{{ site.github.url }}/docs/v70_Release_Notes">Release Notes</a>

  <h3>Overview</h3>
  <a href="{{ site.github.url }}/docs/v71_workouts_and_24_7_tracking">Workouts &amp; 24/7 Tracking</a>
  <a href="{{ site.github.url }}/docs/v70_Authentication">Authentication</a>
  <a href="{{ site.github.url }}/docs/v71_actigraphy_vs_aggregate">Actigraphy vs. Aggregate</a>

  <h3>Tutorials</h3>
  <a href="{{ site.github.url }}/docs/v71_OAuth_2_Intro">Intro to OAuth 2</a>
  <a href="{{ site.github.url }}/docs/v71_OAuth_2_Demo">OAuth 2 Tutorial</a>
  <a href="{{ site.github.url }}/docs/v71_OAuth_2_Client_Creds">OAuth 2 Client Credentials</a>
  <a href="{{ site.github.url }}/docs/v71_24_7_tracking_tutorial">24/7 Tracking: Writing</a>
  <a href="{{ site.github.url }}/docs/v71_24_7_tracking_reading_tutorial">24/7 Tracking: Reading</a>

  <h3>References</h3>
  <a href="{{ site.github.url }}/versioning_policy">Versioning Policy</a>
  <a href="{{ site.github.url }}/docs/v71_Compression">Compression</a>
  <a href="{{ site.github.url }}/docs/v71_Errors">Errors</a>
  <a href="{{ site.github.url }}/docs/v71_Paging">Paging</a>
  <a href="{{ site.github.url }}/docs/v71_Response_Codes">Response Codes</a>
  <a href="{{ site.github.url }}/docs/v71_Units">Units</a>

  <h3>Resources</h3>

  <h5>user</h5>
  <a data-released="2015-06-10" data-modified="2015-06-10" data-plans="" href="{{ site.github.url }}/docs/v71_OAuth_2">OAuth 2 Grants</a>
  <a data-released="2015-04-07" data-modified="2015-04-07" data-plans="" href="{{ site.github.url }}/docs/v71_OAuth2ConnectionRevokeResource">OAuth 2 Revoke</a>
  <a data-released="2014-11-22" data-modified="2014-11-22" data-plans="" href="{{ site.github.url }}/docs/v71_Privacy_Option">Privacy</a>
  <a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_User">User</a>
  <a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v71_User_Profile_Photo">User Profile Photo</a>
  <a data-released="2014-11-17" data-modified="2014-11-17" data-plans="" href="{{ site.github.url }}/docs/v71_User_Role">User Role</a>
  <a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_User_Stats">User Stats</a>

  <h5>social</h5>
  <a data-released="2014-11-18" data-modified="2014-11-18" data-plans="" href="{{ site.github.url }}/docs/v71_Activity_Story">Activity Story</a>
  <a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v71_Friendship">Friendship</a>
  <a data-released="2014-09-23" data-modified="2014-12-17" data-plans="" href="{{ site.github.url }}/docs/v71_Moderation_Action">Moderation Action</a>
  <a data-released="2014-09-23" data-modified="2014-12-17" data-plans="" href="{{ site.github.url }}/docs/v71_Moderation_Action_Type">Moderation Action Type</a>
  <a data-released="2014-09-23" data-modified="2014-12-17" data-plans="" href="{{ site.github.url }}/docs/v71_Moderation_Status">Moderation Status</a>
  <a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v71_Page">Page</a>
  <a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v71_Page_Association">Page Association</a>
  <a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v71_Page_Follow">Page Follow</a>
  <a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v71_Page_Type">Page Type</a>
  <a data-released="2014-11-17" data-modified="2014-11-17" data-plans="" href="{{ site.github.url }}/docs/v71_Role">Role</a>
  <a data-released="2014-11-22" data-modified="2014-11-22" data-plans="" href="{{ site.github.url }}/docs/v71_Suggested_Friend">Suggested Friend</a>

  <h5>workouts</h5>
  <a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v71_Course" class="on">Course</a>
  <a data-released="2015-01-01" data-modified="2015-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_DataSource">Data Source</a>
  <a data-released="2015-02-18" data-modified="2015-02-18" data-plans="" href="{{ site.github.url }}/docs/v71_Data_Source_Priority">Data Source Priority</a>
  <a data-released="2015-01-01" data-modified="2015-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_Device">Device</a>
  <a data-released="2015-05-28" data-modified="2015-05-28" data-plans="" href="{{ site.github.url }}/docs/v71_Gear">Gear</a>
  <a data-released="2014-12-09" data-modified="2014-12-09" data-plans="" href="{{ site.github.url }}/docs/v71_Heart_Rate_Zone">Heart Rate Zone</a>
  <a data-released="2014-12-12" data-modified="2014-12-12" data-plans="" href="{{ site.github.url }}/docs/v71_Heart_Rate_Zone_Calculation">Heart Rate Zone Calculation</a>
  <a data-released="2014-10-31" data-modified="2014-10-31" data-plans="" href="{{ site.github.url }}/docs/v71_Map_Marker_Image">Map Marker Image</a>
  <a data-released="2014-12-15" data-modified="2014-12-15" data-plans="" href="{{ site.github.url }}/docs/v71_Remote_Connection">Remote Connection</a>
  <a data-released="2014-12-15" data-modified="2014-12-15" data-plans="" href="{{ site.github.url }}/docs/v71_Remote_Connection_Type">Remote Connection Type</a>
  <a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_Route">Route</a>
  <a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_Route_Bookmark">Route Bookmark</a>
  <a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v71_User_Achievement">User Achievement</a>
  <a data-released="2015-05-28" data-modified="2015-05-28" data-plans="" href="{{ site.github.url }}/docs/v71_User_Gear">User Gear</a>
  <a data-released="2013-10-09" data-modified="2013-10-09" data-plans="" href="{{ site.github.url }}/docs/v71_Workout">Workout</a>
  <a data-released="2014-12-09" data-modified="2014-12-09" data-plans="" href="{{ site.github.url }}/docs/v71_Workout_Heart_Rate">Workout Heart Rate</a>

  <h5>24/7</h5>
  <a data-released="2015-03-26" data-modified="2015-03-26" data-plans="" href="{{ site.github.url }}/docs/v71_Actigraphy">Actigraphy</a>
  <a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v71_Activity_Type">Activity Type</a>
  <a data-released="2014-10-30" data-modified="2014-10-30" data-plans="" href="{{ site.github.url }}/docs/v71_Aggregate">Aggregate</a>
  <a data-released="2015-03-08" data-modified="2015-03-08" data-plans="" href="{{ site.github.url }}/docs/v71_All_Day_Activity_Time_Series">All Day Activity Time Series</a>
  <a data-released="2015-03-08" data-modified="2015-03-08" data-plans="" href="{{ site.github.url }}/docs/v71_All_Day_Activity">All Day Activity</a>
  <a data-released="2015-01-22" data-modified="2015-01-22" data-plans="" href="{{ site.github.url }}/docs/v71_BodyMass">Body Mass</a>
  <a data-released="2015-01-22" data-modified="2015-01-22" data-plans="" href="{{ site.github.url }}/docs/v71_Sleep">Sleep</a>

  <h5>content</h5>
  <a data-released="2015-04-07" data-modified="2015-04-07" data-plans="" href="{{ site.github.url }}/docs/v71_Image">Image</a>
  <a data-released="2014-09-30" data-modified="2014-09-30" data-plans="" href="{{ site.github.url }}/docs/v71_Webhook">Webhook</a>

  <div class="api_version_selector">
    <select name="api_version" id="api_version">
      <option value="v71">v7.1</option>
      <option value="v70">v7.0</option>
      <option value="02">api/0.2</option>
      <option value="01">api/0.1</option>
      <option value="vx">vx</option>
    </select>
  </div>

</div>
