<div class="sidenav">

  <h3>Getting Started</h3>
  <a href="/signup">Request a Key</a>
  <a href="/updatekey">Update your Key</a>    
  <a href="/faq">FAQ</a>
  <a href="/docs/v70_Release_Notes">Release Notes</a>

  <h3>Overview</h3>
  <a href="/docs/v71_workouts_and_24_7_tracking">Workouts &amp; 24/7 Tracking</a>
  <a href="/docs/v70_Authentication">Authentication</a>
  <a href="/docs/v71_actigraphy_vs_aggregate">Actigraphy vs. Aggregate</a>

  <h3>Tutorials</h3>
  <a href="/docs/v71_OAuth_2_Intro">Intro to OAuth 2</a>
  <a href="/docs/v71_OAuth_2_Demo">OAuth 2 Tutorial</a>
  <a href="/docs/v71_OAuth_2_Client_Creds">OAuth 2 Client Credentials</a>
  <a href="/docs/v71_24_7_tracking_tutorial">24/7 Tracking: Writing</a>
  <a href="/docs/v71_24_7_tracking_reading_tutorial">24/7 Tracking: Reading</a>

  <h3>References</h3>
  <a href="/versioning_policy">Versioning Policy</a>
  <a href="/docs/v71_Compression">Compression</a>
  <a href="/docs/v71_Errors">Errors</a>
  <a href="/docs/v71_Paging">Paging</a>
  <a href="/docs/v71_Response_Codes">Response Codes</a>
  <a href="/docs/v71_Units">Units</a>

  <h3>Resources</h3>
  <div class="resources_v71">{% include sidenav_v71.html %}</div>
  <div class="resources_v70">{% include sidenav_v70.html %}</div>
  <div class="resources_v02">{% include sidenav_v02.html %}</div>
  <div class="resources_v01">{% include sidenav_v01.html %}</div>
  <div class="resources_vx">{% include sidenav_vx.html %}</div>

  <select name="api_version" id="api_version">
    <option value="v71">v7.1</option>
    <option value="v70">v7.0</option>
    <option value="v02">api/0.2</option>
    <option value="v01">api/0.1</option>
    <option value="vx">vx</option>
  </select>

</div>
