<h5>user</h5>
<a data-released="2015-06-10" data-modified="2015-06-10" data-plans="" href="{{ site.github.url }}/docs/v70_OAuth_2">OAuth 2 Grants</a>
<a data-released="2014-11-22" data-modified="2014-11-22" data-plans="" href="{{ site.github.url }}/docs/v70_Privacy_Option">Privacy</a>
<a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_User">User</a>
<a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v70_User_Profile_Photo">User Profile Photo</a>
<a data-released="2014-11-17" data-modified="2014-11-17" data-plans="" href="{{ site.github.url }}/docs/v70_User_Role">User Role</a>
<a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_User_Stats">User Stats</a>

<h5>social</h5>
<a data-released="2014-11-18" data-modified="2014-11-18" data-plans="" href="{{ site.github.url }}/docs/v70_Activity_Story">Activity Story</a>
<a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v70_Friendship">Friendship</a>
<a data-released="2014-09-23" data-modified="2014-12-17" data-plans="" href="{{ site.github.url }}/docs/v70_Moderation_Action">Moderation Action</a>
<a data-released="2014-09-23" data-modified="2014-12-17" data-plans="" href="{{ site.github.url }}/docs/v70_Moderation_Action_Type">Moderation Action Type</a>
<a data-released="2014-09-23" data-modified="2014-12-17" data-plans="" href="{{ site.github.url }}/docs/v70_Moderation_Status">Moderation Status</a>
<a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v70_Page">Page</a>
<a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v70_Page_Association">Page Association</a>
<a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v70_Page_Follow">Page Follow</a>
<a data-released="2014-12-16" data-modified="2014-12-16" data-plans="" href="{{ site.github.url }}/docs/v70_Page_Type">Page Type</a>
<a data-released="2014-11-17" data-modified="2014-11-17" data-plans="" href="{{ site.github.url }}/docs/v70_Role">Role</a>

<h5>workouts</h5>
<a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v70_Course">Course</a>
<a data-released="2015-01-01" data-modified="2015-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_DataSource">Data Source</a>
<a data-released="2015-02-18" data-modified="2015-02-18" data-plans="" href="{{ site.github.url }}/docs/v70_Data_Source_Priority">Data Source Priority</a>
<a data-released="2015-01-01" data-modified="2015-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_Device">Device</a>
<a data-released="2014-12-09" data-modified="2014-12-09" data-plans="" href="{{ site.github.url }}/docs/v70_Heart_Rate_Zone">Heart Rate Zone</a>
<a data-released="2014-12-12" data-modified="2014-12-12" data-plans="" href="{{ site.github.url }}/docs/v70_Heart_Rate_Zone_Calculation">Heart Rate Zone Calculation</a>
<a data-released="2014-10-31" data-modified="2014-10-31" data-plans="" href="{{ site.github.url }}/docs/v70_Map_Marker_Image">Map Marker Image</a>
<a data-released="2014-12-15" data-modified="2014-12-15" data-plans="" href="{{ site.github.url }}/docs/v70_Remote_Connection">Remote Connection</a>
<a data-released="2014-12-15" data-modified="2014-12-15" data-plans="" href="{{ site.github.url }}/docs/v70_Remote_Connection_Type">Remote Connection Type</a>
<a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_Route">Route</a>
<a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_Route_Bookmark">Route Bookmark</a>
<a data-released="2014-01-01" data-modified="2014-01-01" data-plans="" href="{{ site.github.url }}/docs/v70_User_Achievement">User Achievement</a>
<a data-released="2013-10-09" data-modified="2013-10-09" data-plans="" href="{{ site.github.url }}/docs/v70_Workout">Workout</a>
<a data-released="2014-12-09" data-modified="2014-12-09" data-plans="" href="{{ site.github.url }}/docs/v70_Workout_Heart_Rate">Workout Heart Rate</a>

<h5>24/7</h5>
<a data-released="2015-03-26" data-modified="2015-03-26" data-plans="" href="{{ site.github.url }}/docs/v70_Actigraphy">Actigraphy</a>
<a data-released="2013-09-30" data-modified="2013-09-30" data-plans="" href="{{ site.github.url }}/docs/v70_Activity_Type">Activity Type</a>
<a data-released="2014-10-30" data-modified="2014-10-30" data-plans="" href="{{ site.github.url }}/docs/v70_Aggregate">Aggregate</a>
<a data-released="2015-03-08" data-modified="2015-03-08" data-plans="" href="{{ site.github.url }}/docs/v70_All_Day_Activity_Time_Series">All Day Activity Time Series</a>
<a data-released="2015-03-08" data-modified="2015-03-08" data-plans="" href="{{ site.github.url }}/docs/v70_All_Day_Activity">All Day Activity</a>
<a data-released="2015-01-22" data-modified="2015-01-22" data-plans="" href="{{ site.github.url }}/docs/v70_BodyMass">Body Mass</a>
<a data-released="2015-01-22" data-modified="2015-01-22" data-plans="" href="{{ site.github.url }}/docs/v70_Sleep">Sleep</a>

<h5>content</h5>
<a data-released="2015-04-07" data-modified="2015-04-07" data-plans="" href="{{ site.github.url }}/docs/v70_Image">Image</a>
<a data-released="2014-09-30" data-modified="2014-09-30" data-plans="" href="{{ site.github.url }}/docs/v70_Webhook">Webhook</a>
