.page-blog .container {
  max-width: 720px;
  table {
    margin: 1em auto;
    td {
      padding: .25em 1em;
    }
  }
}

.page-blog .container:not(:first-child) h2 {
  margin-top: 3em;
}

.page-blog-date {
  color: #999;
  font-size: 16px;
  text-align: right;
}
