.button {
  display: inline-block;
  font-size: 24px;
  font-family: $urbano-bold-condensed;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

a.button-red {
  &,
  &:link,
  &:visited {
    color: #fff;
    background: #ea212e;
  }
}
