.documentation {

  h2:not(:first-child) {
    margin-top: 3rem;
  }

  h3 {
    margin-top: 1.5rem;
  }

  table {
    border: solid 1px rgba(0,0,0,0.03);
    overflow-x: scroll;
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
    margin-bottom: 2em;
  }

  td, th {
    padding: 20px 10px;
  }

  th {
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(0,0,0,0.05);
  }

  td {
    line-height: 1.4;
    vertical-align: top;
  }

  code {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
  }

  pre {
    font-size: 14px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}

.content .documentation h6 {
  font-size: 18px;
}

.page-docs-img {
  float: right;
  display: block;
  margin-bottom: 2em;
  margin-left: 2em;
}
