@font-face {
  font-family: "Urbano Regular";
  src: url($font-path + "/Urbano-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Urbano Condensed";
  src: url($font-path + "/Urbano-Cond.otf") format("opentype");
}

@font-face {
  font-family: "Urbano Bold Condensed";
  src: url($font-path + "/Urbano-BoldCond.otf") format("opentype");
}

@font-face {
  font-family: "Urbano Bold";
  src: url($font-path + "/Urbano-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Urbano Black";
  src: url($font-path + "/Urbano-Black.otf") format("opentype");
}

@font-face {
  font-family: "Urbano Light";
  src: url($font-path + "/Urbano-Light.otf") format("opentype");
}

@font-face {
  font-family: "fontello";
  src: url($font-path + "/fontello.eot?") format("eot"),
    url($font-path + "/fontello.woff") format("woff"),
    url($font-path + "/fontello.ttf") format("truetype"),
    url($font-path + "/fontello.svg") format("svg");
}
