$header-height: 100px;
$header-border: 20px;

body {
  padding-top: 100px;
}

.site-header {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  border-top: $header-border solid #ea212e;
  background: #fff;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  box-shadow: 0 1px 80px rgba(0,0,0,0.15);
  z-index: 100;

  @include large {
    padding: 0 20px;
  }
}

.site-logo {
  display: block;

  h1 {
    margin-bottom: 0;
    line-height: 0;
  }
}

.site-logo-img {
  display: block;
  height: 24px;
  width: auto;

  @include large {
    height: 33px;
  }
}

.site-nav {
  width: 100%;
  position: absolute;
  background: #212123;
  left: 0;
  top: $header-height - $header-border;
  padding: 10px;
  opacity: 0;

  @include transform(translateY(-20px));
  @include transition(all 0.2s ease-out);

  &.active {
    opacity: 1;
    @include transform(translateY(0))
  }

  @include large {
    width: auto;
    position: static;
    background: transparent;
    padding: 0;
    opacity: 1;
    @include transform(translateY(0));
    @include transition(none);
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);

    ul {
      @include flexbox;
      @include flex-direction(row);
      @include align-items(center);
    }

    li {
      display: block;
    }
  }
}

.site-nav.docs .docs,
.site-nav.pricing .pricing,
.site-nav.blog .blog {
  border-color: #ea212e;
}

.site-nav-item {
  font-family: $urbano-light;
  font-size: 12.25px;
  font-weight: 300;
  line-height: 2.5;
  text-transform: uppercase;

  a {
    display: block;
    padding: 0 10px;
    color: #fff;
    border-bottom: solid 1px #2a2a2a;
    border-top: solid 1px #181818;
    @include large {
      padding: 10px;
      color: inherit;
      border-width: 0;
      font-weight: bold;
    }

    &:hover {
      color: #b3b3b3;
    }
  }

  &:first-child a { border-top: 0; }
  &:last-child a { border-bottom: 0; }

  @include large {
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    font-size: 17.5px;
    font-weight: 400;
    &:last-child {
      margin-right: 20px;
    }

    a {
      line-height: 1;
      padding: 2px;
    }
  }
}

.site-nav-button {
  margin-top: 3px;
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  cursor: pointer;
  color: #fff;
  background: #737373;
  border-radius: 3px;
  padding: 5px;
  padding-right: 4px;
  border: 0;
  text-transform: uppercase;

  &:hover {
    background: #212123;
  }

  @include large {
    display: none;
  }
}

.site-nav-button-text {
  margin-right: 5px;
}
