body {
  background-color: #333;
}

.content {
  background-color: #fff;
  padding-top: 3em;
  padding-bottom: 3em;

  & > section {
    padding-right: 1em;
    padding-left: 1em;
  }

}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.two-cols {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);

  .col-1 {
    @include flex(0 0 24%);
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 1vw;
    z-index: 2;
  }

  .col-2 {
    @include flex(1);
    overflow: hidden;
    margin: 0 20px;
  }

}

.main {
  table {
    width: 100%;
  }

  pre {
    padding: 20px;
    display: block;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
    overflow: auto;
    line-height: 1.2;
    background-color: #F6F6F6;
    border: 1px solid #E0E0E0;
    font-family: "Firefoxius Monospace Maximus", monospace;
  }

  .highlight {
    margin-bottom: 2em;
  }
}
