.page-sdk-box {
  background-color: #e1e1e1;
  padding: 1em;
  text-align: center;
  max-width: 280px;
  margin: 0 auto 2em;

  em {
    font-style: italic;
  }
  p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1em;
  }
  a {
    margin-top: .5em;
    width: 100%;
  }

  @include large {
    float: right;
    margin: 0 0 2em 2em;
  }
}
