// fonts
$urbano-regular: "Urbano Regular", "Open Sans", sans-serif;
$urbano-condensed: "Urbano Condensed", "Open Sans", sans-serif;
$urbano-bold-condensed: "Urbano Bold Condensed", "Open Sans", sans-serif;
$urbano-bold: "Urbano Bold", "Open Sans", sans-serif;
$urbano-black: "Urbano Black", "Open Sans", sans-serif;
$urbano-light: "Urbano Light", "Open Sans", sans-serif;

// asset paths
$img-path: "/assets/images";
$font-path: "/assets/fonts";
